<%= form_tag(admin_update_site_colors_path, method: :patch) do %>
<!-- <form id="color_picker_form" name="color_picker_form" action="<%#=  %>" method="patch"> -->
  <% colors.each do |color| -%>
    <div class="field-unit field-unit--color">
      <div class="field-unit__label color_picker">
        <label for="listening_lab_name"><%= color.name %></label>
      </div>
      <div class="field-unit__field color_picker d-flex">
        <input type="color" id="<%= color.slug %>" name="colors[<%= color.slug %>]" value="<%= color.value %>" />
        <a href='#' class='reset_color' ng-click="resetColor($event, '<%= color.slug %>', '<%= color.default_value %>')">Reset to default</a>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <input type="submit" id="update_colors" value="Update Colors" /> or <input type="button" ng-click="resetAllColors($event)" value="Reset All Colors" />
  </div>
<!-- </form> -->
<% end %>
