<article style="min-height: 230px;">
  <div class="entry-thumbnail">
  	<% if lesson.main_video && lesson.main_video.thumbnail? %>
    <a href="<%= lesson_path(id: lesson.slug) %>">
      <img src="<%= lesson.main_video.thumbnail.url(:small) %>" alt="<%= lesson.name %>" />
    </a>
    <% end %>
  </div>

  <div class="entry-content">
    <h2 class="entry-title my-2" style="font-size: 1.1em;">
      <a href="<%= lesson_path(id: lesson.slug) %>">
        <%= lesson.name %>
      </a>
    </h2>
  </div>
</article>