<% html_title "My lessons" %>

<section class="video-contents list" id="dashboard" ng-controller="DashboardController">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 mb-2">
        <% if current_user.has_full_account? || current_user.is_admin? %>
        <h2 class="section-title" id="personalised_lessons">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="text">
            <%= t('views.dashboard.personalised.title_html') %>
          </span>
        </h2>
        <div class="row dashboard_row">
          <% if @personalised_lessons.any? %>
            <div id="personalised-carousel" class="owl-carousel owl-theme" data-items-per-row="2">
              <% @personalised_lessons.each do |personalised_lesson| %>
                <div class="item well mb-1">
                  <%= render partial: 'item', locals: { lesson: personalised_lesson } %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="none_found mt-2 mb-4 my-md-4 my-lg-5 w-75 mx-auto" >
              <%= t('views.dashboard.personalised.empty', author: Author.main_author.name) %><br />
              <a href='/lesson-request' class='mt-2 btn btn-success'>
                <%= t('views.dashboard.personalised.button') %>
              </a>
            </p>
          <% end %>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-md-6 mb-2">
        <h2 class="section-title" id="watch_list">
          <i class="fas fa-stopwatch"></i>
          <span class="text">
            <%= t('views.dashboard.watch_list.title_html') %>
          </span>
        </h2>
        <div class="row dashboard_row">
          <% if @watch_laters.any? %>
            <div id="watchlist-carousel" class="owl-carousel owl-theme" data-items-per-row="2">
              <% @watch_laters.each do |wl| %>
                <div class="item well mb-1">
                  <%= render partial: 'item', locals: { lesson: wl.lesson } %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="none_found mt-2 mb-4 my-md-4 my-lg-5 w-75 mx-auto" >
              <%= t('views.dashboard.watch_list.empty') %><br />
              <a href='/lessons' class='mt-2 btn btn-success'>
                <%= t('views.dashboard.watch_list.button') %>
              </a>
            </p>
          <% end %>
        </div>
      </div>


      <div class="col-12 col-md-6 mt-3 mb-2">
        <h2 class="section-title" id="favourite_lessons">
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="text">
            <%= t('views.dashboard.favourites.title_html') %>
          </span>
        </h2>
        <div class="row dashboard_row">
          <% if @favourites.any? %>
            <div id="favourites-carousel" class="owl-carousel owl-theme" data-items-per-row="2">
              <% @favourites.each do |fave| %>
                <div class="item well mb-1">
                  <%= render partial: 'item', locals: { lesson: fave.lesson } %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="none_found mt-2 mb-4 my-md-4 my-lg-5 w-75 mx-auto" >
              <%= t('views.dashboard.favourites.empty') %><br />
              <a href='/lessons' class='mt-2 btn btn-success'>
                <%= t('views.dashboard.favourites.button') %>
              </a>
            </p>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-3 mb-2">
        <h2 class="section-title" id="viewed_lessons">
          <i class="fa fa-check-square" aria-hidden="true"></i>
          <span class="text">
            <%= t('views.dashboard.viewed.title_html') %>
          </span>
        </h2>
        <div class="row dashboard_row">
          <% if @views.any? %>
            <div id="viewed-carousel" class="owl-carousel owl-theme" data-items-per-row="2">
              <% @views.each do |view| %>
                <div class="item well mb-1">
                  <%= render partial: 'item', locals: { lesson: view.lesson } %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="none_found mt-2 mb-4 my-md-4 my-lg-5 w-75 mx-auto" >
              <%= t('views.dashboard.viewed.empty') %><br />
              <a href='/lessons' class='mt-2 btn btn-success'>
                <%= t('views.dashboard.viewed.button') %>
              </a>
            </p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>