<%= form_for :session, url: session_path do |form| %>
  <p class="form-input text-field">
    <%= form.label :email, class: 'mb-0' %>
    <%= form.text_field :email, type: 'email', class: 'input form-control', required: true %>
  </p>

  <p class="form-input password-field mb-1">
    <%= form.label :password, class: 'mb-0' %>
    <%= form.password_field :password, class: 'input form-control', required: true %>
  </p>

  <p class="checkbox mt-1 small">
    <%= link_to t(".forgot_password"), new_password_path, class: 'pull-right' %>
  </p>

  <p class="form-input submit-input mt-5">
    <%= form.submit t(".submit"), { class: 'btn btn-success btn-large' } %>
  </p>
<% end %>
