<% html_title t(".html_title") %>

<section class="" id="clearance" ng-controller="SignInController">
  <div id="login_box">
    <div class="panel">
      <div class="text-center">
        <%= render 'layouts/auth-logo' %>

          <h4><%= t(".title", school: school_setting("site-easy-name")) %></h4>

        <% if notice %>
          <p class="alert alert-success mt-3"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger mt-3"><%= alert %></p>
        <% end %>
      </div>

      <%= render partial: 'sessions/form' %>

      <p class="mb-2 text-center">
        <%= t(".register_link.prefix") %>&nbsp;
        <%= link_to t(".register_link.link"), sign_up_url %>
      </p>
   </div>
  </div>
</section>