<% html_title "Checkout" %>

<section id="payment" class="solo_checkout mx-auto my-1 my-md-3 my-md-4"
					ng-controller="CheckoutPageController"
					data-payment-error-prefix="<%= t('views.subscription.form.errors.prefix') %>"
					data-card-error-number-invalid="<%= t('views.subscription.form.errors.card_number') %>"
					data-card-error-expiry-invalid="<%= t('views.subscription.form.errors.expiry') %>"
					data-card-error-cv2-invalid="<%= t('views.subscription.form.errors.cv2') %>"
					data-card-error-email-invalid="<%= t('views.subscription.form.errors.email') %>"
					data-card-error-name-invalid="<%= t('views.subscription.form.errors.name') %>"
					data-server-error-options="<%= t('mobile.views.subscribe.error_loading_options') %>"
					data-preselected-payment-type="<%= @paypal_cancelled || @paypal_error ? 'paypal' : nil %>">

	<div class="panel">

		<div class="text-center">
			<%= render 'layouts/auth-logo' %>
		</div>

		<h5 class="loading text-center text-dark" ng-show="!basket.loaded">
			<%= t('views.checkout.loading') %>
		</h5>

		<div ng-show="basket.loaded">
			<h3 class="empty_basket mt-3 text-center" ng-show="basket.items.length == 0">
				<% if @singlecheckout %>
					<%= t('views.subscription.empty_basket.single') %>
				<% else %>
					<%= t('views.subscription.empty_basket.multiple') %>
				<% end %>
			</h3>

			<form id="payment_form" name="payment_form" class="" novalidate
						method="post" action="<%= process_checkout_path %>"
						ng-show="basket.items.length > 0">
		    <div id="selected_option" class="">
		      <p><strong class="item_label" style="width: 15%;">Items in cart: </strong></p>
		      <ul class="pt-0 mb-4 mt-0">
			      <li ng-repeat="item in basket.items">
			      	{{item.product.nameWithType}} ({{item.product.price}})
			      </li>
		    	</ul>
		    </div>

		    <p><strong class="item_label"><%= t('views.subscription.total_prefix') %>: {{basket.total}}</strong></p>

		    <% if notice %>
		      <p class="container alert alert-success"><%= notice %></p>
		    <% end %>
		    <% if alert %>
		      <p class="container alert alert-danger"><%= alert %></p>
		    <% end %>

			  <div class="form_item d-flex mt-4 mb-0">
			    <label class="pt-2" for="choose_payment_type">
			      <%= t('views.subscription.form.labels.card_type') %>
			    </label>

			    <ul id="choose_payment_type">
			      <li>
			       <label class="payment_chooser">
			        <input type="radio" name="payment_type" value="visa" ng-model="payment.type" />
			        <i class="fab fa-cc-visa"></i>
			      </label>
				    </li>
				    <li>
				      <label class="payment_chooser">
				        <input type="radio" name="payment_type" value="mastercard" ng-model="payment.type" />
				        <i class="fab fa-cc-mastercard"></i>
				      </label>
				    </li>
				    <li>
				      <label class="payment_chooser">
				        <input type="radio" name="payment_type" value="paypal" ng-model="payment.type" />
				        <i class="fab fa-cc-paypal"></i>
				      </label>
				    </li>
			  	</ul>
			  </div>

			  <div ng-show="payment.type == 'paypal'">
				   <button id="checkout_with_paypal" class="pay_btn" ng-hide="paying" ng-cloak>
					   	<%= t('views.subscription.form.paypal.button') %>
				   	</button>
				   <h5 ng-hide="!paying" id="paypal_forwarding" class="d-flex text-center" ng-cloak>
				   		<span class="mr-2 mr-md-3"><%= render partial: 'layouts/loader', locals: { size: :small } %></span>
				   		<span><%= t('views.subscription.form.paypal.processing') %></span>
				   </h5>
			  </div>

			  <div ng-hide="payment.type == 'paypal'">

			   	<div class="form_item d-flex">
			    	<label class="pt-2" for="firstName">
			    		<%= t('views.subscription.form.labels.first_name') %>
		    		</label>

			    	<div class="">
				   		<input type="text" id="first_name" ng-model="payment.firstName" />
				   	</div>
			  	</div>

			   	<div class="form_item d-flex">
			    	<label class="pt-2" for="lastName">
			    		<%= t('views.subscription.form.labels.last_name') %>
			    	</label>

			    	<div class="">
				   		<input type="text" id="last_name" ng-model="payment.lastName" />
				   	</div>
			  	</div>

			   	<div class="form_item d-flex">
			    	<label class="pt-2" for="email">
			    		<%= t('views.subscription.form.labels.email') %>
		    		</label>

			    	<div class="">
				   		<input type="text" id="email" ng-model="payment.email" />
				   		<p class='hint m-0 text-small'>
				   			<small class=""><%= t('views.subscription.form.labels.email_hint') %></small>
				   		</p>
				   	</div>
			  	</div>

			   	<div class="form_item d-flex">
			    	<label class="pt-2" for="card_number">
				     	<%= t('views.subscription.form.labels.card_number') %>
			   		</label>

			   		<input type="text" id="card_number" ng-model="payment.cardNumber" />
			  	</div>


				  <div class="form_item d-flex">
						<label class="pt-3" for="expiry">
							<%= t('views.subscription.form.labels.expiration') %>
						</label>
						<div class="">
							<%= select_month(Date.today, { use_two_digit_numbers: true }, { "ng-model": "payment.expiry.month" }) %>
							<%= select_year(Date.today, { start_year: Date.today.year, end_year: Date.today.year + 8 }, { "ng-model": "payment.expiry.year" }) %>
						</div>
					</div>


				  <div class="form_item d-flex">
				    <label class="pt-2" for="cv2">
				    	<%= t('views.subscription.form.labels.cv2') %>
			    	</label>
				    <input type="text" id="cv2" class="small" ng-model="payment.cv2" />
				  </div>

				  <button type="submit" id="pay_btn"
				  				class="pay_btn btn btn-success mb-2"
				  				data-style="expand-left"
				  				ng-class="{ 'paying': paying == true }">
			      <span ng-if="!paying"><%= t('views.defaults.pay').capitalize %> {{basket.total}}</span>
			      <span ng-if="paying == true">
			      	<span class="mr-2 text-white"><%= render partial: 'layouts/loader', locals: { size: :button } %></span>
			      	<%= t('views.subscription.form.labels.paying') %>
		      	</span>
				  </button>
				  <p class="text-center mt-1 pt-0">
				  	<small><%= t('views.defaults.or') %> <a ng-href='{{basket.store.url}}'>
				  		<% if @singlecheckout %>
								<%= t('views.subscription.form.back_link.single') %> {{basket.store.name}}
							<% else %>
				  			<%= t('views.subscription.form.back_link.multiple') %> {{basket.store.name}}
							<% end %>
				  	</a></small>
				  </p>
				</div>

				<div class="form_item" id="secured_by">
					<label>
					  <%= t('views.subscription.form.labels.secured_by') %>
					</label>

					<div id="comodo">
					  <%= image_tag 'subscribe/comodo.png', alt: 'Secure site' %>
					</div>
				</div>
			</form>
		</div>
	</div>

	<%= render partial: "payment_error", locals: { current_user: user_signed_in? ? current_user : nil } %>
</section>
