<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field video_field">
	<% if field.vimeo_data.present? %>
		<%= field.vimeo_data["html"].html_safe %>
	<% end %>
  <%= f.file_field field.attribute %>

  <div class='hint'>
  	<ul>
	  	<li><%= t('administrate.hints.copyright') %></li>
	  	<li><%= t('administrate.hints.file_types_prefix') %> <b>.mp4</b>, <b>.mov</b>, <b>.wmv</b>, <b>.avi</b> and <b>.flv</b></li>
	  </ul>
  </div>
</div>
