<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field with_uploader video_field" id="dropzone_<%= field.attribute %>">
  <%= f.hidden_field "duration_in_seconds" %>
  <%= f.hidden_field field.resource.tmp_media_attribute(field.attribute) %>
	<div class="ml2e">
		<% if field.vimeo_data.present? %>
			<%= field.vimeo_data["html"].html_safe %>
		<% end %>
	</div>

	<%= video_tag('',
						controls: true,
	          class: 'player_target ml2e',
						style: "display: none"
	    )
	%>

  <br />
  <%= render partial: 'upload_template', locals: { resource_class: field.attribute } %>

  <div class='hint ml-4 pl-0'>
  	<ul>
	  	<li><%= t('administrate.hints.copyright') %></li>
	  	<li><%= t('administrate.hints.file_types_prefix') %> <b>.mp4</b>, <b>.mov</b>, <b>.wmv</b>, <b>.avi</b> and <b>.flv</b></li>
	  </ul>
  </div>
</div>
