<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
	<% if field.vimeo_data.present? %>
		<%= field.vimeo_data["html"].html_safe %>
	<% end %>
  <%= f.file_field field.attribute %>


  <p class='hint'>
  	- <%= t('administrate.hints.copyright') %><br />
  	- <%= t('administrate.hints.file_types_prefix') %> <b>.mp4</b>, <b>.mov</b>, <b>.wmv</b>, <b>.avi</b> and <b>.flv</b>
  </p>
</div>
