<% html_title "Sign Up" %>

<section class="" id="clearance"
  ng-controller="SignUpController"
  data-errors-first-name="<%= t('views.register.errors.first_name') %>"
  data-errors-last-name="<%= t('views.register.errors.last_name') %>"
  data-errors-email="<%= t('views.register.errors.email') %>"
  data-errors-email-confirm="<%= t('views.register.errors.email_confirm') %>"
  data-errors-email-match="<%= t('views.register.errors.email_match') %>"
  data-errors-password="<%= t('views.register.errors.password') %>"
  data-errors-password-minimum="<%= t('views.register.errors.password_minimum') %>">

  <div id="registration_box">
    <div class="panel">

      <div class="text-center">
        <%= render 'layouts/auth-logo' %>

        <h4 class="mb-3"><%= t(".title_html", site_name: Maawol::Config.site_name) %></h4>

        <% if notice %>
          <p class="alert alert-success mt-3 mb-1"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger mt-3 mb-1"><%= alert %></p>
        <% end %>
      </div>

      <%= form_with(model: @user, id: :register_form, data: { type: :json }) do |form| %>
        <%= render partial: 'users/form', object: form %>

        <p class="submit-input">
          <%= form.submit t(".form.submit"), { class: 'btn btn-success btn-large', data: { "disable-with": t(".form.submitting") } } %>
          <span class="alt-methods" style="display: none;">
            <span>Or Register With</span>
            <a class="facebook" href="#"><i class="fa fa-facebook-official"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
          </span>
        </p>

        <p class="mb-2 text-center">
          <%= t(".sign_in_link.prefix") %>&nbsp;
          <%= link_to t(".sign_in_link.link"), sign_in_path %>
        </p>

      <% end %>
    </div>
  </div>
</section>