<section class="" id="clearance">
  <div id="registration_box">
    <p class="mb-2 text-center">
      Already have an account? <%= link_to "Sign in here", sign_in_path %>
    </p>

    <div class="panel">

      <div class="text-center">
        <%= render 'layouts/auth-logo' %>

        <h4>Create Your Account</h4>

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <%= form_for @user do |form| %>
        <%= render partial: 'users/form', object: form %>

        <p class="submit-input">
          <%= form.submit "Register for FREE", { class: 'btn btn-success btn-large' } %>
          <span class="alt-methods" style="display: none;">
            <span>Or Register With</span>
            <a class="facebook" href="#"><i class="fa fa-facebook-official"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
          </span>
        </p>

      <% end %>
    </div>
  </div>
</section>