<article class="post type-post well">
  <div class="entry-thumbnail">
    <a href="<%= locked_lesson_redirect_path %>">
      <img src="<%= lesson.listing_thumbnail_path %>" alt="<%= lesson.name %>" />
    </a>
  </div>

  <div class="entry-content">
    <h3 class="entry-title">
      <a href="<%= locked_lesson_redirect_path %>">
        <%= lesson.name %>
      </a>
    </h3>

    <div class="entry-meta">
      <span>
        <i class="fa fa-clock-o"></i>
        <time datetime="PT5M">
          <%= time_ago_in_words(lesson.publish_date) %> ago</time>
      </span>
    </div>
  </div>
</article>