<section id="home_slides" class="container pt-4" ng-controller="HomePageController">
  <div class="row">
    <div class="col-sm-12">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div class="section" id="about">
        <% unless homepage_video.nil? %>
        <h2 class="section-title" style="">Welcome to <%= site_setting('Site name') %></h2>
        <div id="homepage_video_box">
          <%= video_iframe(homepage_video) %>
        </div>
        <% end %>

        <div class="mt-3">
          <%= render_content_block_by_name("bio") %>
        </div>

      </div>

      <section class="cms_section mb-4 mb-md-5" id="register">
        <h2 class="section-title" style="">Register or Subscribe</h2>
        <div class="row">
          <div class="col col-12 col-md-6 px-md-4 pb-4 pb-md-3 pt-md-3">
            <h5>Subscribed Members:</h5>
            <ul>
              <li>Access to FULL Lesson Library and Courses</li>
              <li>Lesson Requests</li>
              <li>1-on-1 help</li>
              <% if site_setting("Facebook page URL").present? %>
                <li>Access to Exclusive <%= Maawol::Config.site_name %> Facebook page</li>
              <% end %>
              <li>Only <%= monthly_fee %> per month</li>
            </ul>
            <a class="mt-3 mb-md-5 btn btn-success btn-large" style="bottom: 0;" href="/sign_up?remember=/subscribe">Subscribe now</a></div>

            <div class="col col-12 col-md-6 align-items-end px-md-4 pb-md-3 pt-md-3">
              <h5>Registered Members:</h5>
              <ul>
                <li>FREE</li>
                <li>Access to Selected Video Lessons</li>
                <li>Access to Exclusive Offers</li>
                <% if site_setting("Facebook page URL").present? %>
                  <li>Access to Exclusive <%= Maawol::Config.site_name %> Facebook page</li>
                <% end %>
              </ul>
            <a class="mt-3 mb-md-5 btn btn-info btn-large" style="bottom: 0;" href="/sign_up">Register now</a>
          </div>
        </div>
      </section>

      <% if @latest_lessons.any? %>
        <div class="section" id="recent_lessons">
          <h2 class="section-title" style="">Recent lessons</h2>
          <div class="video-contents list">
              <div class="row">
                  <% @latest_lessons.each do |lesson| %>
                    <div class="lesson_result search_result col-12 col-md-6 col-lg-3 mb-3 mb-md-1">
                      <%= render partial: 'recent_lesson', locals: { lesson: lesson } %>
                    </div>
                  <% end %>
              </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>