<section id="home_slides" class="container pt-4" ng-controller="HomePageController">
  <div class="row">
    <div class="col-sm-12">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div class="section" id="about">
        <% unless homepage_video.nil? %>
        <h2 class="section-title" style="">
          <%= t("views.home.welcome", school: school_setting('site-name')) %>
        </h2>
        <div id="homepage_video_box">
          <%= video_iframe(homepage_video) %>
        </div>
        <% end %>

        <div class="mt-5">
          <%= render_content_block_by_slug("bio") %>
        </div>

      </div>

      <section class="cms_section mb-4 mb-md-5" id="register">
        <div class="row">
          <div class="col col-12 col-md-6 align-items-end px-md-4 pb-md-3 pt-md-3 mt-3 mt-md-0 mb-3 mb-md-0">
            <h2 class="section-title" style="">
              <%= t("views.home.register.title") %>
            </h2>
            <ul>
              <% t("views.home.register.items").each do |item| %>
                <li><%= item %></li>
              <% end %>
              <% if school_setting("facebook-page-url").present? %>
                <li><%= t("views.home.facebook_item", school: Maawol::Config.site_name) %></li>
              <% end %>
            </ul>
            <div class="mt-3 mb-md-5 btn_box">
              <a href="/sign_up" class="btn btn-info btn-large mx-auto w-100">
                <%= t("views.home.register.button") %>
              </a>
            </div>
          </div>

          <div class="col col-12 col-md-6 px-md-4 pb-4 pb-md-3 pt-md-3 mt-3 mt-md-0 mb-3 mb-md-0">
            <h2 class="section-title" style="">
              <%= t("views.home.subscribe.title") %>
            </h2>
            <ul>
              <% t("views.home.subscribe.items").each do |item| %>
                <li><%= item %></li>
              <% end %>
              <% if school_setting("facebook-page-url").present? %>
                <li><%= t("views.home.facebook_item", school: Maawol::Config.site_name) %></li>
              <% end %>
              <li><%= t("views.home.subscribe.fee", fee: monthly_fee) %></li>
            </ul>
            <div class="mt-3 mb-md-5 btn_box">
              <a class="btn btn-success btn-large mx-auto w-100" href="/sign_up?remember=/subscribe">
                <%= t("views.home.subscribe.button") %>
              </a>
            </div>
          </div>

        </div>
      </section>

      <% if @latest_lessons.any? %>
        <div class="section" id="recent_lessons">
          <h2 class="section-title" style="">
            <%= t("views.home.recent_lessons") %>
          </h2>
          <div class="video-contents list">
              <div class="row">
                  <% @latest_lessons.each do |lesson| %>
                    <div class="lesson_result search_result col-12 col-md-6 col-lg-3 mb-3 mb-md-1">
                      <%= render partial: 'recent_lesson', locals: { lesson: lesson } %>
                    </div>
                  <% end %>
              </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>