<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav id="admin_sidenav" class="navigation" role="navigation">
  <h1 id="logo">
    <a href="/dashboard" target="_blank"
        title="Open main website in another window">
        <% if site_image("landscape_logo").nil? %>
          <%= site_setting("Site easy name") %> admin
        <% else %>
          <img src="<%= site_image("landscape_logo").url(:large_landscape) %>" alt="<%= site_setting("Site name") %>" class="footer-logo" />
        <% end %>
    </a>
  </h1>

  <h3>Video lessons</h3>
  <ul>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/lessons') %>"
            href="/admin/lessons">Lessons
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/videos') %>"
            href="/admin/videos">Videos
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/courses') %>"
            href="/admin/courses">Courses
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/downloadables') %>"
            href="/admin/downloadables">Downloadable files
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/root_categories') %>"
            href="/admin/root_categories">Primary categories
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/categories') %>"
            href="/admin/categories">Secondary categories
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/tags') %>"
            href="/admin/tags">Tags
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/skill_levels') %>"
            href="/admin/skill_levels">Skill levels
      </a>
    </li>
  </ul>

  <h3>Listening labs</h3>
  <ul>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/listening_labs') %>"
            href="/admin/listening_labs">Labs
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/albums') %>"
            href="/admin/albums">Albums
      </a>
    </li>
  </ul>

  <h3>E-commerce</h3>
  <ul>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/income_reports') %>"
            href="/admin/income_reports">Monthly income
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/stores') %>"
            href="/admin/stores">Stores
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/product_payments') %>"
            href="/admin/product_payments">Store payments
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/subscription_options') %>"
            href="/admin/subscription_options">Subscription levels
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/users_subscription_payments') %>"
            href="/admin/users_subscription_payments">Subscription payments
      </a>
    </li>
  </ul>

  <h3>People</h3>
  <ul>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.fullpath == '/admin/users' %>"
            href="/admin/users">All members</a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.fullpath == '/admin/subscribers' %>"
            href="/admin/subscribers">Subscribers</a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/authors') %>"
            href="/admin/authors">Authors</a>
    </li>
  </ul>

  <h3>CMS</h3>
  <ul>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/content_management/pages') %>"
            href="/admin/content_management/pages">Pages</a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/content_management/content_blocks') %>"
            href="/admin/content_management/content_blocks">Content blocks
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/content_management/images') %>"
            href="/admin/content_management/images">Images</a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/stuck') %>"
            href="/admin/stuck_questions">Questions for the I'm stuck page</a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/content_management/edit_footer_nav') %>"
            href="/admin/content_management/edit_nav/footer">Footer navbar</a>
    </li>
  </ul>

  <h3>Settings</h3>
  <ul>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/site_settings') %>"
            href="/admin/site_settings">General settings
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/site_images') %>"
            href="/admin/site_images">Images
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/site_colors') %>"
            href="/admin/site_colors">Colors
      </a>
    </li>
  </ul>
</nav>
