<div class='nested-fields'>
  <div class='field sort'>
    <%= f.number_field :sort, placeholder: 'Order', autofocus: true %>
  </div>
  <div class='field choose'>
    <%= f.collection_select :productable_gid, Product.get_options, :to_global_id, :name_for_admin_selector, { prompt: 'choose option...' } %>
  </div>
  <div class='field price' style="display: flex;">
    <span style="padding-right: 3px;">$</span> <%= f.text_field :price, placeholder: 'price' %>
  </div>
  <div class="fee_split field" style="display: flex; align-items: flex-start;">
    <%= f.number_field :author_fee_split, placeholder: 0, min: 0, max: 100 %>
    <span style="padding-left: 2px;">%</span>
  </div>
  <div class='field remove'>
	  <%= link_to_remove_association '<i class="fa fa-times"></i>'.html_safe, f %>
	</div>
</div>