<div class="modal fade recurring" id="deleteAccountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <h3><%= t('views.account_settings.details.delete.button') %></h3>
      </div>

      <div class="modal-body">

        <div class="clearfix"></div>

        <p class="mb-2"><%= t('views.account_settings.details.delete.confirm', school: Maawol::Config.site_name) %></p>

				<button ng-click="confirmDeleteAccount($event)" class="btn btn-danger w-75">
          <span ng-hide="deletingAccount">
            <%= t('views.account_settings.details.delete.button') %>
          </span>
          <span ng-hide="!deletingAccount">
            <span class="mr-2 text-white"><%= render partial: 'layouts/loader', locals: { size: :button } %></span>
            <%= t('views.account_settings.details.delete.deleting') %>
          </span>
				</button>

				<button id="deactivate" class="btn btn-success w-75">
					<%= t('views.account_settings.details.delete.cancel') %>
				</button>

      </div>
    </div>
  </div>
</div>