<% html_title t('views.account_settings.html_title') %>

<section ng-controller="SettingsController"
  data-recurring-cancellation-error="Sorry, there has been an error cancelling your subscription"
  data-payment-error-prefix="<%= I18n.t('views.subscription.form.errors.prefix') %>"
  data-card-error-number-invalid="<%= I18n.t('views.subscription.form.errors.card_number') %>"
  data-card-error-expiry-invalid="<%= I18n.t('views.subscription.form.errors.expiry') %>"
  data-card-error-cv2-invalid="<%= I18n.t('views.subscription.form.errors.cv2') %>"
  id="settings">

  <%= render 'settings/menu' if browser.device.mobile? %>

  <div class="container">
    <% unless browser.device.mobile? %>
      <h2 class="section-title">My Account</h2>
    <% end %>

    <div class="row">
      <% unless browser.device.mobile? %>
        <div class="col-4 mt-2">
          <%= render 'settings/menu' %>
        </div>
      <% end %>

      <div class="tab-content col-12 col-md-8 pb-5">
        <% if notice %>
          <p class="container alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="container alert alert-danger"><%= alert %></p>
        <% end %>

        <div class="well no-border p-3 p-md-4 tab-pane fade <%= 'show active' unless @mode == 'password' %>" id="account_details" role="tabpanel">
          <h6 class="section_intro">
            <%= t('views.account_settings.details.title') %>
          </h6>

          <%= form_for current_user, url: "/settings/#{current_user.id}" do |f| %>
            <p class="form-input">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, { class: 'form-control' } %>
            </p>

            <p class="form-input">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, { class: 'form-control' } %>
            </p>

            <p class="form-input">
              <%= f.label :email %>
              <%= f.email_field :email, { class: 'form-control' } %>
            </p>

            <p class="form-input">
              <%= f.label :avatar %>
              <% if current_user.avatar %>
                <img src="<%= current_user.avatar.url(:thumbnail) %>" alt="<%= current_user.username %>" width="80px" class="m-3 rounded-circle" />
                <div class="clearfix"></div>
              <% end %>
              <%= f.file_field :avatar %>
            </p>

            <p class="form-input">
              <%= f.label :receives_weekly_digest do %>
                <span class="checkbox_label">
                  <%= t('views.account_settings.details.opt_in_label', school: school_setting("site-easy-name")) %>
                </span>
                <%= f.check_box :receives_weekly_digest, { class: 'form-control' } %>
              <% end %>
            </p>

            <p class="actions d-flex justify-content-start">
              <%= f.submit t('views.account_settings.details.submit'),
                      { class: 'btn btn-block btn-success btn-large w-50 mx-auto mt-2 px-5' } %>
            </p>
          <% end %>
        </div>

        <div class="well no-border p-3 p-md-4 tab-pane fade <%= 'show active' if @mode == 'password' %>" id="password" role="tabpanel">
          <h6 class="section_intro">
            <%= t('views.account_settings.password.title') %>
          </h6>

          <%= form_for current_user, url: "/update_password" do |f| %>
            <p class="form-input">
              <%= f.label :existing_password %>
              <%= f.password_field :existing_password, { class: 'form-control' } %>
            </p>
            <p class="form-input">
              <%= f.label :password, value: 'New password' %>
              <%= f.password_field :password, { class: 'form-control' } %>
            </p>
            <p class="form-input">
              <%= f.label :password_confirm, value: 'Confirm new password' %>
              <%= f.password_field :password_confirm, { class: 'form-control' } %>
            </p>
            <p class="actions">
              <%= f.submit t('views.account_settings.password.submit'),
                        { class: 'btn btn-block btn-success btn-large w-50 mx-auto mt-2' } %>
            </p>
          <% end %>
        </div>

        <div class="well no-border p-3 p-md-4 tab-pane fade" id="membership" role="tabpanel">
          <h6 class="section_intro mb-3">
            <%= t('views.account_settings.membership.title') %>
          </h6>

          <p>
            <label>
              <%= t('views.account_settings.membership.labels.current_status') %>
            </label>
            <br />
            <strong><%= current_user.membership_status %></strong>
          </p>

          <% if current_user.status.to_sym == :free %>
            <a href="/subscribe" class="btn btn-success btn-large btn-block w-50 mx-auto mt-2">
              <%= t('views.account_settings.membership.subscribe_now') %>
            </a>

          <% elsif [:paying, :expiring].include?(current_user.status.to_sym) && current_user.is_subscriber? %>
            <%
                user_sub = current_user.current_subscription
                subscription_option = user_sub.subscription_option
            %>
            <p>
              <label>
                <%= t('views.account_settings.membership.labels.subscription_level') %>
              </label>
              <br />
              <strong><%= subscription_option.name %></strong> (<%= subscription_option.description.html_safe %>)
            </p>

            <% if current_user.has_recurring_subscription? %>
              <p data-current-subscription-id="<%= user_sub.id %>">
                <label>
                  <%= t('views.account_settings.membership.labels.next_payment_due') %>
                </label>
                <br />
                <strong><%= user_sub.next_payment_due_at.strftime("%B %d, %Y") %></strong>
              </p>
              <p>
                <label>
                  <%= t('views.account_settings.membership.labels.payment_method') %>
                </label><br />
                <strong>
                  <%= user_sub.is_paypal? ? "Paypal" : t('views.defaults.card').capitalize %>
                </strong>
              </p>

              <%= render partial: "subscriptions/cancel_recurring", locals: { current_user: current_user } %>

              <a href="#" id="cancel_recurring" class="btn btn-block btn-danger btn-mgn-btm w-50 mx-auto mt-2">
                <%= t('views.account_settings.membership.cancel_sub') %>
              </a>

            <% else %>
              <p>
                <label>
                  <%= t('views.account_settings.membership.labels.sub_ends') %>
                </label>
                <br />
                <%= user_sub.ends_at.strftime("%B, %d, %Y") %>
              </p>

              <a href="/subscribe" class="btn btn-block btn-success btn-large w-50 mx-auto mt-2" style="white-space: normal;">
                <%= t('views.account_settings.membership.resubscribe') %>
              </a>
            <% end %>
          <% end %>
        </div>

        <% if current_user.is_paying_by_card? %>
          <div class="well no-border p-3 p-md-4 tab-pane fade" id="payment_details" role="tabpanel">
            <h6 class="section_intro">
              <%= t('views.account_settings.card_details.title') %>
            </h6>

            <%= form_tag('/card_details', { method: :patch, id: 'update_card_form' }) do %>

              <p class="form-input">
                <label for="choose_payment_type">
                  <%= t('views.subscription.form.labels.card_type') %>
                </label>

                <ul id="choose_payment_type">
                 <li>
                    <label class="payment_chooser">
                      <input type="radio" name="card[type]" value="visa" ng-model="card.type" />
                      <%= image_tag 'subscribe/visa.png', alt: 'Visa', style: 'max-width: 58%;' %>
                    </label>
                  </li>
                  <li>
                    <label class="payment_chooser">
                      <input type="radio" name="card[type]" value="mastercard" ng-model="card.type" />
                      <%= image_tag 'subscribe/mastercard.png', alt: 'Mastercard', style: 'max-width: 70%;' %>
                    </label>
                  </li>
                </ul>
              </p>

              <p class="form-input">
                <label for="card_number">
                  <%= t('views.subscription.form.labels.card_number') %>
                </label>

                <input type="text" id="card_number" class="form-control" name="card[cardNumber]"  ng-model="card.cardNumber"/>
              </p>

              <p class="form-input">
                <label for="expiry">
                  <%= t('views.account_settings.card_details.labels.expiry') %>
                </label>
                <br />

                <%= select_month(Date.today, { field_name: 'month', :prefix => 'card[expiry]', use_two_digit_numbers: true }, { "ng-model": "card.expiry.month" }) %>
                <%= select_year(Date.today, { field_name: 'year', :prefix => 'card[expiry]', start_year: Date.today.year, end_year: Date.today.year + 8 }, { "ng-model": "card.expiry.year" } ) %>
              </p>

              <p class="form-input">
                <label for="cv2">
                  <%= t('views.subscription.form.labels.cv2') %>
                </label>

                <input type="text" id="cv2" class="small form-control" name="card[cv2]" ng-model="card.cv2" />
              </p>

              <button type="submit" id="update_card_btn" class="btn btn-block btn-success btn-large w-50 mx-auto mt-2">
                <%= t('views.account_settings.card_details.submit') %>
              </button>
            <% end %>

            <%= render partial: "checkout/payment_error", locals: { current_user: current_user } %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>