<p>Hey Justin,</p>

<p>Fantastic new, you have a new subscription on <%= site_setting("Site name") %>, now you can buy that porsche you have been going on about!</p>

<table cellpadding='1' cellspacing='1' border='1'>
	<tr>
		<td><b>Name: </b></td>
		<td><%= @subscription.user.full_name %></td>
	</tr>
	<tr>
		<td><b>Payment method: </b></td>
		<td><%= @subscription.payment_system %></td>
	</tr>
	<tr>
		<td><b><%= @subscription.payment_system.capitalize %> subscription ID: </b></td>
		<td><%= @subscription.remote_subscription_id %></td>
	</tr>
	<tr>
		<td><b><%= @subscription.payment_system.capitalize %> customer ID: </b></td>
		<td><%= @subscription.remote_customer_id %></td>
	</tr>
</table>

<p>Go check out this joyous and rather wonderful event immediately!</p>

<p>Elation is emitting from your own website</p>