<p>Hey Justin,</p>

<p>Annoyingly a subscription has been cancelled because a payment has failed on <%= site_setting("Site name") %>, oh bother!</p>

<table cellpadding='1' cellspacing='1' border='1'>
	<tr>
		<td><b>Name: </b></td>
		<td><%= @subscription.user.full_name %></td>
	</tr>
	<tr>
		<td><b>Payment method: </b></td>
		<td><%= @subscription.payment_system %></td>
	</tr>
	<tr>
		<td><b><%= @subscription.payment_system.capitalize %> subscription ID: </b></td>
		<td><%= @subscription.remote_subscription_id %></td>
	</tr>
	<tr>
		<td><b><%= @subscription.payment_system.capitalize %> customer ID: </b></td>
		<td><%= @subscription.remote_customer_id %></td>
	</tr>
</table>

<p>Go check out this disgraceful behaviour, immediately!</p>

<p>Calm and tranquility from your own website</p>