
New <%= site_setting("Site easy name") %> contact form submitted by <%= @contact.name %>
======================================================

Name: <%= @contact.name %>
Email: <%= @contact.email %>
Subject: <%= @contact.subject %>
Message: <%= simple_format @contact.message %>

Get on it like a car bonnet!</p>
