<% html_title "Change your password" %>

<section class="form-elements style-2" id="clearance">
  <div id="login_box">
    <div class="right-panel">
      <%= render 'layouts/auth-logo' %>
      <h4 class="mb-3"><%= t(".title") %></h4>

      <p class="form-input"><%= t(".description") %></p>

      <% if notice %>
        <p class="alert alert-success mt-3 mb-1"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger mt-3 mb-1"><%= alert %></p>
      <% end %>

      <%= form_for :password_reset,
            url: user_password_path(@user, token: @user.confirmation_token),
            html: { method: :put } do |form| %>

        <p class="form-input">
          <%= form.label :password %>
          <%= form.password_field :password, autofocus: true, autocomplete: "off", class: 'input form-control' %>
        </p>

        <p class="submit-input">
          <%= form.submit "Change my password", { class: 'btn btn-success btn-large' } %>
        </p>
      <% end %>
    </div>
  </div>
</section>