<% html_title "Reset your password" %>

<section class="" id="clearance" ng-controller="PasswordsController">
  <div id="passwords_box">
    <div class="panel">
      <div class="text-center">
        <%= render 'layouts/auth-logo' %>
        <h4 class="mb-3"><%= t(".title") %></h4>

        <p class="form-input"><%= t(".description") %></p>

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <%= form_for :password, url: passwords_path do |form| %>
        <p class="form-input name">
          <%= form.label :email %>
          <%= form.email_field :email, autofocus: true, autocomplete: "email", id: 'user_login', class: 'input form-control', required: true %>
        </p>

        <p class="submit-input">
           <%= form.submit "Password help", { class: 'btn btn-success btn-large' } %>
        </p>
      <% end %>

      <p class="mb-2 text-center">
        <%= link_to "&lt; Back to sign in".html_safe, sign_in_url %>
      </p>
    </div>
  </div>
</section>