<div class='desktop_filters d-flex justify-content-between container mb-2 pt-1 pb-4' id='filters'>
	<form name="filter_form" class="d-flex" action="/lessons">
	  <select name="root_category" id="root_category" class="mr-2 px-2">
	    <option value=''>Select lesson category</option>
	    <% @root_categories.each do |root_category| %>
			  <option value="<%= root_category.id %>" <%= 'selected="selected"' if params[:root_category] && params[:root_category].to_i == root_category.id %>><%= root_category.name %></option>
	    <% end %>
	  </select>
	  <% if params[:root_category] && params[:root_category].to_i > 0 %>
	  	<select name="category" id="category" class="mr-2 px-2">
	  		<option value=''>select...</option>
		    <% @categories.each do |category| %>
				  <option value="<%= category.id %>"  <%= 'selected="selected"' if params[:category] && params[:category].to_i == category.id %>><%= category.name %></option>
		    <% end %>
	  	</select>
	  <% else %>
		  <select name="category" id="category" style="display:none;" class="mr-2 px-2"><!-- --></select>
		 <% end %>

	  <input type="submit" class="btn btn-success" id="submit_filters" value="Go" />
	</form>

	<form class="search-form" method="get" action="/lessons">
	  <input name="search" type="text" class="search-input" size="20" maxlength="20" placeholder="Search for lessons..." required="" />
	  <input type="submit" name="submit" class="search-submit" />
	</form>
</div>
