<div class="pt-2 pb-3" id="subscribe_instructions">
  <div class="container">
    <p class="m-0 pt-1 mb-1">
      <strong>
        <%= t('views.subscribe_callout.title') %>
      </strong>
    </p>
    <div class="row pl-1">
      <ul class="col-6">
        <li>
          <i class="fas fa-clipboard-check mr-1"></i>
          <%= t('views.subscribe_callout.items.library_access') %>
        </li>

        <li>
          <i class="fas fa-clipboard-check mr-1"></i>
          <%= t('views.subscribe_callout.items.one_on_one', name: Maawol::Config.site_owner_fname) %>
        </li>
      </ul>

      <ul class="col-6">
        <% if school_setting("facebook-page-url").present? %>
          <li>
            <i class="fas fa-clipboard-check mr-1"></i>
            <%= t('views.subscribe_callout.items.facebook_access') %>
          </li>
        <% else %>
          <li><i class="fas fa-clipboard-check mr-1"></i>
            <%= t('views.subscribe_callout.items.much_more') %>
          </li>
        <% end %>
        <li>
          <i class="fas fa-clipboard-check mr-1"></i>
          <%= t('views.subscribe_callout.items.monthly_fee', monthly_fee: monthly_fee) %>
        </li>
      </ul>

    </div>
  </div>
</div>