<div class="p-2 w-100 mx-auto mb-3 pb-0" id="subscribe_instructions">
  <p class="m-0 pb-2 text-center">
    <strong>
      <%= t('views.subscribe_callout.title') %>
    </strong>
  </p>

  <ul>
    <li>
      <i class="fas fa-clipboard-check mr-1"></i>
      <%= t('views.subscribe_callout.items.library_access') %>
    </li>

    <li>
      <i class="fas fa-clipboard-check mr-1"></i>
      <%= t('views.subscribe_callout.items.one_on_one', name: Author.main_author.name) %>
    </li>

    <% if school_setting("facebook-page-url").present? %>
      <li><i class="fas fa-clipboard-check mr-1"></i>
        <%= t('views.subscribe_callout.items.facebook_access') %>
      </li>
    <% else %>
      <li>
        <i class="fas fa-clipboard-check mr-1"></i>
        <%= t('views.subscribe_callout.items.much_more') %>
      </li>
    <% end %>
    <li>
      <i class="fas fa-clipboard-check mr-1"></i>
      <%= t('views.subscribe_callout.items.monthly_fee', monthly_fee: monthly_fee) %>
    </li>
  </ul>
</div>