<% html_title t("views.lessons.html_title") %>

<section class="list lessons video-contents <%= column_browser_class %>"
          ng-controller="LessonsController"
          data-redirect-locked-lessons="<%= locked_lesson_redirect_path %>"
          data-category="<%= params[:category] %>">

  <% if @categories.any? %>
  <header class="secondary_nav_header">
    <div class="header-bottom navbar navbar-expand navbar-dark flex-column flex-md-row scrolling-top-nav py-0">
      <nav class="navbar-nav-scroll navbar-default">
        <ul class="nav navbar-nav bd-navbar-nav flex-row" role="tablist" style="flex-wrap: nowrap;">
          <li class="menu-item">
            <a class="nav-link" data-toggle="pill" href="#"
                ng-click="chooseCategory($event, 'all')"
                ng-class="{'selected': category == 'all'}"
                role="tab">
              <%= t("views.nav.all") %>
            </a>
          </li>
          <% @categories.each do |category| %>
            <li class="menu-item">
              <a class="nav-link" data-toggle="pill" href="#"
                  ng-click="chooseCategory($event, '<%= category.slug %>')"
                  ng-class="{'selected': category == '<%= category.slug %>'}"
                  role="tab">
                <%= category.name %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <% end %>

  <div class="container ">

    <% if notice %>
      <p class="container alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="container alert alert-danger"><%= alert %></p>
    <% end %>


    <% if params[:welcome] %>
        <h4 id="paid" class="mb-5 mt-2"><%= t('views.lessons.welcome', school: school_setting('site-name')) %></h4>
    <% elsif params[:paid] %>
        <h3 id="paid" class="mb-5 mt-2"><%= t('views.lessons.paid') %></h3>
    <% end %>

    <div class="section">
      <% if params[:tag] %>
        <h2 class="section-title" data-tag="<%= params[:tag] %>">
          <%= t("views.lessons.title.tag", tag: params[:tag]) %>
        </h2>
      <% elsif params[:search] %>
        <h2 class="section-title" data-search="<%= params[:search].strip %>">
          <%= t("views.lessons.title.search", search: params[:search].strip) %>
        </h2>
      <% elsif params[:root_category] %>
        <h2 class="section-title" data-root-category="<%= params[:root_category] %>">
          <%= t("views.lessons.title.category_html", category: @category_title.html_safe) %>
        </h2>
      <% else %>
        <h2 class="section-title">
          <%= t("views.lessons.title.default") %>
        </h2>
      <% end %>

      <div ng-if="loaded" class="fader" ng-cloak>
        <div class="row">
          <div ng-repeat="lesson in lessons"
                    class="lesson_result search_result col-12 col-md-4 col-lg-3 mb-3"
                    ng-class="{'blocked': !lesson.available}"
                    id="item_{{lesson.id}}"
                    ng-cloak>
            <%= render partial: 'lessons/list-item' %>
          </div>
        </div>
      </div>

      <h3 id="loading" ng-if="!loaded" class="fader" ng-cloak>
        <span class="spinner"></span>
        <%= t("views.lessons.loading") %>
      </h3>

      <p class="none_found" ng-if="loaded && !lessons.length" ng-cloak>
        <i class="far fa-sad-cry mr-1"></i>
        <%= t("views.lessons.none_found") %>
      </p>

    </div>
  </div>
</section>