<section class="container list lessons video-contents <%= column_browser_class %>" ng-controller="LessonsController">
    <% if notice %>
      <p class="container alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="container alert alert-danger"><%= alert %></p>
    <% end %>

    <%= render(partial: 'subscribe_callout') unless current_user.has_full_account? %>

    <% if params[:paid] %>
        <h3 id="paid" class="mb-5 mt-2">Great, thanks, You are now a subscriber and can view all lessons and courses</h3>
    <% end %>

    <div class="section">
      <% if params[:tag] %>
        <h2 class="section-title" data-tag="<%= params[:tag] %>"><%= params[:tag] %></h2>
      <% elsif params[:root_category] %>
        <h2 class="section-title" data-root-category="<%= params[:root_category] %>" data-category="<%= params[:category] %>"><%= @category_title %></h2>
      <% elsif params[:search] %>
        <h2 class="section-title" data-search="<%= params[:search] %>">Showing results for: '<%= params[:search] %>'</h2>
      <% else %>
        <h2 class="section-title">All lessons</h2>
      <% end %>

      <div ng-if="loaded" class="fader" ng-cloak>
        <%= render 'lessons/filters' if current_user.has_full_account? && !params[:search] %>
        <div class="row">
          <div ng-repeat="lesson in lessons"
                    class="lesson_result search_result col-sm-3 col-md-5ths col-lg-3 mb-3"
                    ng-class="{'blocked': !lesson.available}"
                   id="item_{{lesson.id}}">
            <%= render partial: 'lessons/list-item' %>
          </div>
        </div>
      </div>

      <h3 id="loading" ng-if="!loaded" class="fader" ng-cloak>
        <span class="spinner"></span>
        Loading lessons...
      </h3>

      <p class="none_found" ng-if="loaded && !lessons.length" ng-cloak>
        <% if params[:tag] %>
          Sorry there are no lessons found for tag '<%= params[:tag] %>
        <% else %>
          No lessons found
        <% end %>
      </p>

    </div>

</section>