<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field audio">
	<%= audio_tag(field.file.url) unless field.file.nil? %>

  <%= f.file_field field.attribute %>

  <div class='hint'>
  	<ul>
  		<li><%= t('administrate.hints.copyright') %></li>
  		<li><%= t('administrate.hints.file_types_prefix') %> <b>.mp3</b> <b>.wav</b> and <b>.ogg</b></li>
  	</ul>
  </div>
</div>
