<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field audio with_uploader" id="dropzone_<%= field.attribute %>">
  <%= f.hidden_field field.resource.tmp_media_attribute(field.attribute) %>
  <%= audio_tag(field.file&.url || '',
  					controls: true,
            class: 'player_target ml2e',
  					style: "#{field.file.nil? ? 'display: none' : ''}"
      )
  %>

  <br />

  <%= render partial: 'upload_template', locals: { resource_class: field.attribute } %>

  <div class='hint ml-4 pl-0'>
  	<ul>
  		<li><%= t('administrate.hints.copyright') %></li>
  		<li><%= t('administrate.hints.file_types_prefix') %> <b>.mp3</b> <b>.wav</b> and <b>.ogg</b></li>
  	</ul>
  </div>
</div>