<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
	<% unless field.file.nil? %>
		<p><small style="margin-bottom: 10px;"><%= link_to("Show uploaded file", field.file.url, target: '_blank') %></small></p>
	<% end %>
  <%= f.file_field field.attribute %>

  <p class='hint'>
  	- <%= t('administrate.hints.copyright') %><br />
  	- <%= t('administrate.hints.file_types_prefix') %> <b>.pdf</b>, <b>.doc</b> and <b>.docx</b>
  </p>

</div>
