<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field with_uploader image" id="dropzone_<%= field.attribute %>">
  <%= f.hidden_field field.resource.tmp_media_attribute(field.attribute) %>

	<%= image_tag((field.small&.url || ''),
								class: "player_target ml2e mb-2 #{field.attribute} #{field.resource.class.to_s.downcase}",
								style: "#{field.small.nil? ? 'display: none' : ''}"
        			) %>

  <br />

  <%= render partial: 'upload_template', locals: { resource_class: field.attribute } %>

  <div class='hint ml-4 pl-0'>
  	<ul>
      <li><%= t('administrate.hints.copyright') %></li>
	  	<%= "<li>#{field.hint}</li>".html_safe if field.hint.present? %>
      <li><%= t('administrate.hints.file_size') %></li>
	  	<li><%= t('administrate.hints.file_types_prefix') %> <b>.jpg</b>, <b>.jpeg</b>, <b>.gif</b> and <b>.png</b></li>
	  </ul>
  </div>
</div>
