<% translate_key = @lesson_request ? 'request' : ( @stuck ? 'stuck' : 'contact') %>
<div class="row">
  <div class="col-12 col-lg-8">
    <% if notice %>
      <p class="alert alert-success w-100"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger w-100"><%= alert %></p>
    <% end %>

    <%= form_for(@contact, html: { class: 'contact-form' }) do |f| %>
      <% if @stuck %>
        <div class="col-12">
          <h2 class="section-title"><%= t("views.contact.section_title.#{translate_key}") %></h2>
          <%= f.hidden_field :name, value: current_user.full_name %>
          <%= f.hidden_field :email, value: current_user.email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :stuck, value: 1 %>

          <% @questions.each do |q| %>
            <div class="question">
              <p><%= q.question_with_number %></p>
              <% q.stuck_answers.each do |a| %>
                <div class="answer">
                  <%= f.label q.form_parameter, value: a.id do %>
                    <%= f.radio_button q.form_parameter, a.id, checked: a.sort == 1 %>
                    <span><%= a.answer %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="clearfix"></div>
          <% end %>

          <%= f.submit t("views.contact.submit.#{translate_key}"), { class: 'btn btn-success btn-large' } %>
        </div>
      <% else %>
        <h2 class="section-title">
          <%= t("views.contact.section_title.#{translate_key}") %>
        </h2>

        <% if @lesson_request %>
          <%= render_content_block_by_slug("lesson-request-introduction") %>
        <% else %>
          <%= render_content_block_by_slug("contact-page-introduction") %>
        <% end %>

        <%= f.hidden_field(:from_home, value: 1) if params[:controller].to_sym == :home %>
        <%= f.hidden_field :subject %>

        <% if signed_in? %>
          <%= f.hidden_field :name, value: current_user.full_name %>
          <%= f.hidden_field :email, value: current_user.email %>
        <% else %>
          <%= f.text_field :name, { placeholder: t("views.contact.placeholders.name"), :required => true, class: 'contact-form-control' } %>
          <%= f.email_field :email, { placeholder: t("views.contact.placeholders.email"), :required => true, class: 'contact-form-control' } %>
        <% end %>

        <%= f.text_area :message, { placeholder: t("views.contact.placeholders.message.#{translate_key}"), :required => true, class: 'contact-form-control' } %>

        <% if use_recaptcha? %>
          <div class="mb-4" style="clear: both;">
            <%= recaptcha_tags(site_key: recaptcha_site_key) %>
          </div>
        <% end %>
        <%= f.submit t("views.contact.submit.#{translate_key}"), { class: 'btn btn-success btn-large' } %>

      <% end %>

      <div class="contact-message"></div>
      <div class="error-message"></div>
    <% end %>

  </div>

  <div class="col-12 col-lg-4 pt-md-5">
    <aside class="sidebar pl-3 pl-md-2">
      <div class="widget widget_address">
        <div class="item media d-flex">
          <% unless school_image("contact").nil? %>
            <img src="<%= school_image("contact") %>" alt="<%= school_setting("site-name") %>" class="rounded-circle avatar mr-3" />
          <% end %>
          <div class="item-details media-body">
            <h3 class="item-title"><%= t('views.contact.send_email') %>:</h3>
            <span>
              <a href="mailto:<%= school_setting('contact-email-address') %>"><%= school_setting('contact-email-address') %></a>
            </span>
          </div>
        </div>
      </div>
    </aside>
  </div>

</div>