<% content_for(:title) do %>
  School settings
<% end %>

<section class="main-content__body main-content__body--flush" id="main-content__site_settings" ng-controller="AdminSiteSettingsController">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">
        School settings
      </a>
      <a class="nav-item nav-link" id="nav-branding-tab" data-toggle="tab" href="#nav-branding" role="tab" aria-controls="nav-branding" aria-selected="false">
        Branding
      </a>
      <a class="nav-item nav-link" id="nav-seo-tab" data-toggle="tab" href="#nav-seo" role="tab" aria-controls="nav-seo" aria-selected="false">
        SEO and Social
      </a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
        Contact details
      </a>
    </div>
  </nav>

  <div class="tab-content py-5 px-4" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">

      <%= form_with method: :patch,  url: "/admin/site_settings/basic", class: :form do |f| %>
        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'site-name', page,
                school_settings.find_by(slug: "site-name"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.name'),
                  hint: I18n.t('administrate.hints.resources.site_setting.name'),
                  required: true } %>
        </div>

        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'site-easy-name', page,
                school_settings.find_by(slug: "site-easy-name"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.easy_name'),
                  hint: I18n.t('administrate.hints.resources.site_setting.easy_name'),
                  required: true } %>
        </div>

        <div class="field-unit field-unit--number">
          <%
            lower_limit = SubscriptionOption.lower_price_limit
            currency_symbol = Maawol::Config.currency_symbol
          %>
          <%= render_setting_price_field 'monthly-subscription-price', page,
                school_settings.find_by(slug: "monthly-subscription-price"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.monthly_subscription_price'),
                  hint: I18n.t('administrate.hints.resources.site_setting.monthly_subscription_price_html', lower_limit: "#{currency_symbol}#{lower_limit}").html_safe,
                  required: true,
                  step: 0.01,
                  min: lower_limit,
                  currency_symbol: currency_symbol } %>
        </div>

        <div class="field-unit field-unit--tiny-mce-field">
          <%= render_setting_text_field 'site-blurb', page,
                school_settings.find_by(slug: "site-blurb"),
                true,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.blurb'),
                  hint: I18n.t('administrate.hints.resources.site_setting.blurb'),
                  required: true } %>
        </div>

        <div class="form-actions mt-4 d-flex">
          <input type="submit" name="commit" value="Save Basic Settings" data-disable-with="Saving..." ng-click="initSuccessMessages()" />
          <p class="text-success mb-0 pt-2 ml-4" ng-show="successes.basic">
            <i class="fas fa-check mr-1"></i>
            <span>Settings saved</span>
          </p>
        </div>
     <% end %>
    </div>

    <div class="tab-pane fade" id="nav-branding" role="tabpanel" aria-labelledby="nav-branding-tab">
      <%= form_with method: :patch,  url: "/admin/site_settings/branding", class: :form do |f| %>
        <div class="field-unit field-unit--string">
          <%= render_setting_select_field 'theme', page,
                school_settings.find_by(slug: "theme"),
                SiteSetting.theme_options,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.theme'),
                  hint: I18n.t('administrate.hints.resources.site_setting.theme') } %>
        </div>

        <div class="field-unit field-unit--image-field my-4">
          <%= render_setting_image_field 'favicon', page,
                school_images.find_by(slug: "favicon"),
                :tiny,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.favicon'),
                  hint: I18n.t('administrate.hints.resources.site_setting.favicon') } %>
        </div>

        <div class="field-unit field-unit--image-field my-4">
          <%= render_setting_image_field 'landscape-logo', page,
                school_images.find_by(slug: "landscape-logo"),
                :small_landscape,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.landscape_logo'),
                  hint: I18n.t('administrate.hints.resources.site_setting.landscape_logo') } %>
        </div>

        <div class="field-unit field-unit--image-field my-4">
          <%= render_setting_image_field 'square-logo', page,
                school_images.find_by(slug: "square-logo"),
                :small_square,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.square_logo'),
                  hint: I18n.t('administrate.hints.resources.site_setting.square_logo') } %>
        </div>


        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'site-byline', page,
                school_settings.find_by(slug: "site-byline"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.byline'), required: true,
                  hint: I18n.t('administrate.hints.resources.site_setting.byline') } %>
        </div>

        <div class="field-unit field-unit--image-field my-4">
          <%= render_setting_image_field 'email-banner', page,
                school_images.find_by(slug: "email-banner"),
                :large_landscape,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.email_banner'),
                  hint: I18n.t('administrate.hints.resources.site_setting.email_banner') } %>
        </div>

        <div class="form-actions mt-4 d-flex">
          <input type="submit" name="commit" value="Save Branding Settings" data-disable-with="Saving..." ng-click="initSuccessMessages()" />
          <p class="text-success mb-0 pt-2 ml-4" ng-show="successes.branding">
            <i class="fas fa-check mr-1"></i>
            <span>Settings saved</span>
          </p>
        </div>

      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-seo" role="tabpanel" aria-labelledby="nav-seo-tab">
      <%= form_with method: :patch,  url: "/admin/site_settings/seo", class: :form do |f| %>
        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'twitter-username', page,
                school_settings.find_by(slug: "twitter-username"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.twitter'),
                  hint: I18n.t('administrate.hints.resources.site_setting.twitter') } %>
        </div>

        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'facebook-page-url', page,
                school_settings.find_by(slug: "facebook-page-url"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.facebook'),
                  hint: I18n.t('administrate.hints.resources.site_setting.facebook') } %>
        </div>

        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'instagram-username', page,
                school_settings.find_by(slug: "instagram-username"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.instagram'),
                hint: I18n.t('administrate.hints.resources.site_setting.instagram') } %>
        </div>

        <div class="field-unit field-unit--string">
          <%= render_setting_string_field 'youtube-channel-id', page,
                school_settings.find_by(slug: "youtube-channel-id"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.youtube'),
                  hint: I18n.t('administrate.hints.resources.site_setting.youtube') } %>
        </div>

        <div class="field-unit field-unit--textarea">
          <%= render_setting_text_field 'meta-description', page,
                school_settings.find_by(slug: "meta-description"),
                false,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.meta_description'),
                  hint: I18n.t('administrate.hints.resources.site_setting.meta_description'),
                  required: true } %>
        </div>

        <div class="form-actions mt-4 d-flex">
          <input type="submit" name="commit" value="Save SEO and Social Settings" data-disable-with="Saving..." ng-click="initSuccessMessages()" />
          <p class="text-success mb-0 pt-2 ml-4" ng-show="successes.seo">
            <i class="fas fa-check mr-1"></i>
            <span>Settings saved</span>
          </p>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <%= form_with method: :patch,  url: "/admin/site_settings/contact", class: :form do |f| %>
        <div class="field-unit field-unit--string">
          <%= render_setting_email_field 'contact-email-address', page,
                school_settings.find_by(slug: "contact-email-address"),
                { f: f, label: I18n.t('administrate.form.site_settings.labels.contact_email'),
                  hint: I18n.t('administrate.hints.resources.site_setting.contact_email'),
                  required: true } %>
        </div>

        <div class="field-unit field-unit--image-field my-4">
          <%= render_setting_image_field 'contact', page,
                school_images.find_by(slug: "contact"),
                :small_square,
                { f: f, label: I18n.t('administrate.form.site_settings.labels.contact_image'),
                  hint: I18n.t('administrate.hints.resources.site_setting.contact_image') } %>
        </div>


        <div class="form-actions mt-4 d-flex">
          <input type="submit" name="commit" value="Save Contact Details" data-disable-with="Saving..." ng-click="initSuccessMessages()" />
          <p class="text-success mb-0 pt-2 ml-4" ng-show="successes.contact">
            <i class="fas fa-check mr-1"></i>
            <span>Settings saved</span>
          </p>
        </div>
      <% end %>
    </div>

  </div>
</section>
