<footer class="site-footer">
  <%= render(partial: 'lessons/subscribe_callout') if show_subscription_interstitial? %>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 col-lg-3 px-4 text-center footer-branding mb-md-4 mb-lg-0">
        <%= render 'layouts/footer_branding' %>
      </div>

      <div class="col-4 col-lg-3 px-4">
        <div class="widget widget_popular_posts">
          <h3 class="widget-title">Recent lessons</h3>

          <div class="widget-details">
            <% recent_lessons(4).each do |recent_lesson| %>
              <article class="post type-post media">
                <% if recent_lesson.listing_thumbnail_path  %>
                  <div class="entry-thumbnail media-left">
                    <%
                      available = signed_in? ? recent_lesson.available_for_user?(current_user) : false
                      path_for_lesson = available ? lesson_path(id: recent_lesson.slug) : locked_lesson_redirect_path
                    %>
                    <%= link_to image_tag(recent_lesson.listing_thumbnail_path, alt: recent_lesson.name),
                                path_for_lesson
                     %>
                  </div>
                <% end %>

                <div class="entry-content media-body">
                  <h3 class="entry-title">
                    <%= link_to recent_lesson.name, lesson_path(id: recent_lesson.slug) %>
                  </h3>
                </div>
              </article>
            <% end %>


          </div>
        </div>
      </div>

      <div class="col-4 col-lg-3 px-4">
        <div class="widget widget_tags">
          <h3 class="widget-title">Tags</h3>
          <div class="widget-details">
            <% cached_tags.each do |tag| %>
              <%= link_to tag.name, lessons_path(tag: tag.slug), class: "tag-link" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-3 px-4">
        <h3 class="widget-title">Info</h3>
        <ul class="other_pages p-0">
          <% if signed_in? && current_user.is_admin? %>
            <li class="menu-item">
              <a href="/admin" target="_blank" data-turbolinks="false">Admin console</a>
            </li>
          <% end %>
          <% footer_navbar_items.each do |page| %>
            <li class="menu-item <%= 'active' if request.url.include?(page.url) %>">
              <a href="<%= page.url %>" data-turbolinks="false"><%= page.title %></a>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <%= render 'layouts/copyright' %>
</footer>