<footer class="site-footer">
  <%= render(partial: 'lessons/subscribe_callout') if show_subscription_interstitial? %>
  <div class="container pt-4">
    <div class="text-center mb-4">
      <% if school_image("square-logo").present? %>
      <a href="/" class="d-block">
        <img src="<%= school_image("square-logo").url(:large_square) %>" alt="<%= school_setting("site-name") %>" class="footer-logo w-25 d-block mx-auto" />
      </a>
      <% end %>
    </div>

    <div class="text-center footer-social text-center mb-1">
      <% if (!school_setting("facebook-page-url").nil?) %>
        <a href="<%= school_setting("facebook-page-url") %>" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      <% end %>

      <% if (!school_setting("twitter-username").nil?) %>
        <a href="https://www.twitter.com/<%= school_setting("twitter-username") %>" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      <% end %>

       <% if (!school_setting("instagram-username").nil?) %>
        <a href="https://www.instagram.com/<%= school_setting("instagram-username") %>" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      <% end %>

      <% if (!school_setting("youtube-channel-id").nil?) %>
        <a href="https://www.youtube.com/channel/<%= school_setting("youtube-channel-id") %>" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      <% end %>

      <% if (!school_setting("vimeo-id").nil?) %>
        <a href="https://vimeo.com/<%= school_setting("vimeo-id") %>" target="_blank">
          <i class="fab fa-vimeo-square"></i>
        </a>
      <% end %>
    </div>

    <ul class="other_pages mt-3 text-center p-0">
      <li class="d-inline-block mr-3 menu-item">
        <a href="/contact" data-turbolinks="false"><%= t('views.layouts.footer.contact') %></a>
      </li>
      <% footer_navbar_items.each do |page| %>
        <li class="d-inline-block mr-3 menu-item">
          <a href="<%= page.url %>" data-turbolinks="false"><%= page.title %></a>
        </li>
      <% end %>
    </ul>

  </div>

  <%= render 'layouts/copyright' %>
</footer>