<footer class="site-footer pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 px-4 text-center footer-branding mb-md-4 mb-lg-0">
        <div class="widget widget_about">
          <div class="widget-details">
            <% if site_image("square_logo").present? %>
              <a href="/" class="d-block mb-3">
                <img src="<%= site_image("square_logo").url(:large_square) %>" alt="<%= site_setting("Site name") %>" class="footer-logo d-block w-50 mx-auto" />
              </a>
            <% end %>

            <% if (!site_setting("Site blurb").nil?) %>
              <p><%= site_setting("Site blurb") %></p>
            <% end %>
            <% if params[:show_env] %><p><small>[<%= Rails.env.to_s %>]</small></p><% end %>

            <div class="footer-social text-center mt-3 mt-md-4">
              <% if (!site_setting("Facebook page URL").nil?) %>
                <a href="<%= site_setting("Facebook page URL") %>" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              <% end %>

              <% if (!site_setting("Twitter username").nil?) %>
                <a href="https://www.twitter.com/<%= site_setting("Twitter username") %>" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              <% end %>

               <% if (!site_setting("Instagram username").nil?) %>
                <a href="https://www.instagram.com/<%= site_setting("Instagram username") %>" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              <% end %>

              <% if (!site_setting("YouTube channel ID").nil?) %>
                <a href="https://www.youtube.com/channel/<%= site_setting("YouTube channel ID") %>" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              <% end %>

              <% if (!site_setting("Vimeo ID").nil?) %>
                <a href="https://vimeo.com/<%= site_setting("Vimeo ID") %>" target="_blank">
                  <i class="fab fa-vimeo-square"></i>
                </a>
              <% end %>
            </div>

          </div><!-- /.widget-details -->
        </div><!-- /.widget -->
      </div>

      <div class="col-4 col-lg-3 px-4">
        <div class="widget widget_popular_posts">
          <h3 class="widget-title">Recent lessons</h3>

          <div class="widget-details">
            <% recent_lessons(4).each do |recent_lesson| %>
              <article class="post type-post media">
                <% if recent_lesson.listing_thumbnail_path  %>
                  <div class="entry-thumbnail media-left">
                    <%
                      available = signed_in? ? recent_lesson.available_for_user?(current_user) : false
                      path_for_lesson = available ? lesson_path(id: recent_lesson.slug) : locked_lesson_redirect_path
                    %>
                    <%= link_to image_tag(recent_lesson.listing_thumbnail_path, alt: recent_lesson.name),
                                path_for_lesson
                     %>
                  </div>
                <% end %>

                <div class="entry-content media-body">
                  <h3 class="entry-title">
                    <%= link_to recent_lesson.name, lesson_path(id: recent_lesson.slug) %>
                  </h3>
                </div>
              </article>
            <% end %>


          </div>
        </div>
      </div>

      <div class="col-4 col-lg-3 px-4">
        <div class="widget widget_tags">
          <h3 class="widget-title">Tags</h3>
          <div class="widget-details">
            <% cached_tags.each do |tag| %>
              <%= link_to tag.name, lessons_path(tag: tag.slug), class: "tag-link" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-3 px-4">
        <h3 class="widget-title">Info</h3>
        <ul class="other_pages p-0">
          <% footer_navbar_items.each do |page| %>
            <li class="menu-item <%= 'active' if request.url.include?(page.url) %>">
              <a href="<%= page.url %>" data-turbolinks="false"><%= page.title %></a>
            </li>
          <% end %>
          <% if signed_in? && current_user.is_admin? %>
            <li class="menu-item">
              <a href="/admin" target="_blank" data-turbolinks="false"><i class="fas fa-laptop-code mr-2"></i>Admin dashboard</a>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="copyright mt-3 pt-2 pb-3 text-center">&copy; <%= "#{Date.today.strftime("%Y")} #{site_setting("Site name")}" %><br />
    <small class="mt-2 d-block">Run your own Music School on <a href='https://www.maawol.com' target='_blank'>Maawol</a>.</small>
  </div>
</footer>