<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zxx"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title><%= yield_html_title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <% default_meta_description = school_setting('meta-description').present? ? school_setting('meta-description') : school_setting('site-name') %>
    <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <% unless school_image("favicon").nil? %>
      <link rel="icon" type="image/x-icon" href="<%= school_image("favicon").url(:tiny) %>" />
    <% end %>
    <%= render 'layouts/analytics-tag' %>
    <%= render 'layouts/open-graph-tags' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>

    <% if browser.device.tablet? %>
      <%= stylesheet_link_tag 'tablet/overrides', media: 'all', 'data-turbolinks-track' => true %>
    <% end %>

    <%= csrf_meta_tags %>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
  </head>

  <body class="<%= 'auth' if is_auth_page? %>"
      data-theme="<%= site_theme %>"
      data-requires-cookie-permissions="<%= cookies[:cookie_permission_set] ? 0 : 1 %>">
    <% unless is_auth_page?  %>
      <header class="header" ng-controller="NavController" data-signed-in="0">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <% if school_image("landscape-logo").present? %>
                <a href="/" id="logo_top">
                  <img src="<%= school_image("landscape-logo").url(:large_landscape) %>" alt="<%= school_setting("site-name") %>" class="site-logo" />
                </a>
                <% end %>
              </div>
              <div class="col-6 d-flex align-items-end justify-content-end">
                <div class="account_links text-right">
                  <span>
                    <i class="fas fa-sign-in-alt mr-1"></i>
                    <%= t('views.layouts.account_links.sign_in_prefix') %>&nbsp;
                    <a href="<%= sign_in_path %>">
                      <%= t('views.layouts.account_links.sign_in') %>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-bottom tablet navbar navbar-expand navbar-dark flex-column flex-md-row scrolling-top-nav py-0">
          <nav class="navbar-nav-scroll navbar-default">
            <div class="nav navbar-nav bd-navbar-nav flex-row" role="tablist" style="flex-wrap: nowrap;">
            <% unless navbar.nil? %>
              <ul class="p-0 d-flex">
                <% navbar.sorted_navbar_items_for_device_type(:desktop).each do |item| %>
                  <li class="menu-item <%= 'active' if nav_item_is_current_request(item) %>">
                    <a class="nav-link" href="<%= item.url %>"
                        data-turbolinks="false"
                        ng-click="navigateUri($event, '<%= item.url %>')"><%= item.name %></a>
                  </li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </nav>
        </div>

      </header>
    <% end %>

    <div id="yield_wrapper" class=''>
      <%= yield %>
    </div>

    <% unless is_auth_page?  %>
      <footer class="site-footer home">
        <div class="container pt-4 footer-branding">
          <div class="d-flex justify-content-center">
            <%= render 'layouts/footer_branding' %>
          </div>

          <ul id="footer_legals" class="px-0 mx-0 my-2 justify-content-center d-flex">
            <% footer_navbar_items.each do |page| %>
              <li class="mx-2">
                <a href="<%= page.url %>" data-turbolinks="false"><%= page.title %></a>
              </li>
            <% end %>
            <li class="mx-2">
              <a href="/contact" data-turbolinks="false"><%= t('views.layouts.footer.contact') %></a>
            </li>
            <li class="mx-2">
              <a href="/privacy-policy" data-turbolinks="false"><%= t('views.layouts.footer.legals.privacy') %></a>
            </li>
            <li class="mx-2">
              <a href="/terms-and-conditions" data-turbolinks="false"><%= t('views.layouts.footer.legals.terms') %></a>
            </li>
          </ul>
        </div>
        <%= render 'layouts/copyright' %>
      </footer>
    <% end %>

    <%= render 'layouts/cookie-acceptance' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>