<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <title><%= yield_html_title %></title>

    <% default_meta_description = school_setting('meta-description').present? ? school_setting('meta-description') : school_setting('site-name') %>
    <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <% unless school_image("favicon").nil? %>
      <link rel="icon" type="image/x-icon" href="<%= school_image("favicon").url(:tiny) %>" />
    <% end %>
    <%= render 'layouts/analytics-tag' %>
    <%= render 'layouts/open-graph-tags' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'mobile/overrides', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body class="mobile <%= 'auth' if is_auth_page? %>"
          data-turbolinks='false'
          data-theme="<%= site_theme %>"
          data-requires-cookie-permissions="<%= cookies[:cookie_permission_set] ? 0 : 1 %>">

    <% unless is_auth_page?  %>
      <header class="header fixed" ng-controller="NavController" data-signed-in="0">
        <div class="header-top container mobile">
          <div class="row">
            <div class="col-8">
              <div class="d-flex justify-content-start align-items-center">
                <button type="button" class="navbar-toggle mr-3" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                  <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                  <img src="<%= school_image("landscape-logo").url(:large_landscape) %>" alt="<%= school_setting("site-name") %>" class="site-logo" />
                </a>
              </div>
            </div>
            <div class="col-4">
              <% unless signed_in? %>
                <a href="<%= sign_in_path %>" class="d-block btn btn-success btn-sm mt-2 py-1" id="sign_in_btn">
                  <i class="fas fa-sign-in-alt mr-1"></i>
                  <%= t('views.layouts.account_links.sign_in') %>
                </a>
              <% end %>
            </div>
          </div>
        </div>

        <div class="header-bottom main-menu collapse w-100 pt-2" id="menu">
          <nav class="navbar navbar-default container">
            <div class="nav navbar-nav mb-3 mt-1 w-100">
              <ul class="nav navbar-nav mb-3 mt-1 w-100">
                <% navbar.sorted_navbar_items_for_device_type(:mobile).each do |item| %>
                  <% if item.can_be_seen_by_user(current_user) %>
                    <li class="menu-item <%= 'active' if nav_item_is_current_request(item) %>">
                      <a href="#" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2"
                              ng-click="navigateUri($event, '<%= item.url %>')"><%= item.name %></a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    <% end %>

    <div id="yield_wrapper" class='<%= 'has-fixed-header' unless is_auth_page?  %>'>
      <%= yield %>
    </div>

    <footer class="site-footer home">
      <div class="container pt-4 footer-branding">
        <div class="d-flex justify-content-center text-center">
          <%= render 'layouts/footer_branding' %>
        </div>

        <ul id="footer_legals" class="other_pages mt-3 text-center p-0">
          <% footer_navbar_items.each do |page| %>
            <li class="mx-2 d-inline-block">
              <a href="<%= page.url %>" data-turbolinks="false"><%= page.title %></a>
            </li>
          <% end %>
          <li class="mx-2 d-inline-block">
            <a href="/contact" data-turbolinks="false"><%= t('views.layouts.footer.contact') %></a>
          </li>
          <li class="mx-2 d-inline-block">
            <a href="/privacy-policy" data-turbolinks="false"><%= t('views.layouts.footer.legals.privacy') %></a>
          </li>
          <li class="mx-2 d-inline-block">
            <a href="/terms-and-conditions" data-turbolinks="false"><%= t('views.layouts.footer.legals.terms') %></a>
          </li>
        </ul>
      </div>
      <%= render 'layouts/copyright' %>
    </footer>

    <%= render 'layouts/cookie-acceptance' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
