<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zxx"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title><%= yield_html_title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <% default_meta_description = school_setting('meta-description').present? ? school_setting('meta-description') : school_setting('site-name') %>
    <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <% unless school_image("favicon").nil? %>
      <link rel="icon" type="image/x-icon" href="<%= school_image("favicon").url(:tiny) %>" />
    <% end %>
    <%= render 'layouts/analytics-tag' %>
    <%= render 'layouts/open-graph-tags' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>

    <% if browser.device.tablet? %>
      <%= stylesheet_link_tag 'tablet/overrides', media: 'all', 'data-turbolinks-track' => true %>
    <% end %>

    <%= csrf_meta_tags %>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
  </head>

  <body class="<%= 'auth' if is_auth_page? %>" data-theme="<%= site_theme %>">
    <% unless is_auth_page?  %>
      <header class="header" ng-controller="NavController" data-signed-in="0">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <% if school_image("landscape-logo").present? %>
                <a href="/" id="logo_top">
                  <img src="<%= school_image("landscape-logo").url(:large_landscape) %>" alt="<%= school_setting("site-name") %>" class="site-logo" />
                </a>
                <% end %>
              </div>
              <div class="col-6 d-flex align-items-end justify-content-end">
                <div class="account_links text-right">
                  <span><a href="<%= sign_up_path %>"><i class="fa fa-user mr-1"></i> Register for FREE</a></span>
                  <span><a href="<%= sign_in_path %>"><i class="fa fa-lock mr-1"></i> Sign in</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= render 'layouts/main-nav' %>
      </header>
    <% end %>

    <div id="yield_wrapper" class=''>
      <%= yield %>
    </div>

    <% unless is_auth_page?  %>
      <%= render 'layouts/footer' %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </body>
</html>