<!doctype html>
<html>
<head>
  <title><%= yield_html_title %></title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <% default_meta_description = school_setting('meta-description').present? ? school_setting('meta-description') : school_setting('site-name') %>
  <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <% unless school_image("favicon").nil? %>
    <link rel="icon" type="image/x-icon" href="<%= school_image("favicon").url(:tiny) %>" />
  <% end %>
  <%= render 'layouts/analytics-tag' %>
  <%= render 'layouts/open-graph-tags' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>

  <% if browser.device.tablet? %>
    <%= stylesheet_link_tag 'tablet/overrides', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>

<body onunload="" ng-app="Maawol_NG" data-theme="<%= site_theme %>">
  <header class="header d-flex justify-content-between px-5 py-2" ng-controller="NavController" data-signed-in="1">
    <h1 class="py-0 my-0">
      <a href="/" id="logo_top" class="d-flex">
        <% unless school_image("square-logo").nil? %>
          <img src="<%= school_image("square-logo").url(:large_square) %>" alt="<%= school_setting("site-name") %>" class="site-logo mr-3" />
        <% end %>
        <span class="pt-2"><%= school_setting("site-name") %></span>
      </a>
    </h1>

    <div class="text-center d-flex align-items-center justify-content-center">
      <%= render 'layouts/main-nav' %>
    </div>

    <div class="d-flex align-items-center justify-content-end account_links_col">
      <div class="account_links">
        <% if signed_in? && current_user.is_admin? && !browser.device.tablet? %>
          <span><a href="/admin" target="_blank" data-turbolinks="false"><i class="fas fa-laptop-code mr-2"></i>Admin</a></span>
        <% end %>
        <span><a href="/settings"><i class="fa fa-user mr-1"></i> My account</a></span>
        <span> <a data-method="delete" href="<%= sign_out_path %>"><i class="fa fa-lock mr-1"></i> Sign out</a></span>
      </div>
    </div>
  </header>

  <div id='yield_wrapper'>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/angular_bootstrap' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>