<!doctype html>
<html>
<head>
  <title><%= yield_html_title %></title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <% default_meta_description = school_setting('meta-description').present? ? school_setting('meta-description') : school_setting('site-name') %>
  <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <% unless school_image("favicon").nil? %>
    <link rel="icon" type="image/x-icon" href="<%= school_image("favicon").url(:tiny) %>" />
  <% end %>
  <%= render 'layouts/analytics-tag' %>
  <%= render 'layouts/open-graph-tags' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>

  <% if browser.device.tablet? %>
    <%= stylesheet_link_tag 'tablet/overrides', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>

<body onunload="" ng-app="Maawol_NG" data-theme="<%= site_theme %>">
  <header class="header" ng-controller="NavController" data-signed-in="1">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <% unless school_image("landscape-logo").nil? %>
              <a href="/" id="logo_top">
                <img src="<%= school_image("landscape-logo").url(:large_landscape) %>" alt="<%= school_setting("site-name") %>" class="site-logo" />
              </a>
            <% end %>
          </div>
          <div class="col-md-4 text-center d-flex align-items-end justify-content-center">
            <form class="search-form" method="get" action="/lessons">
              <input name="search" type="text" class="search-input" size="20" maxlength="20" placeholder="Search for lessons..." required="" />
              <input type="submit" name="submit" class="search-submit" />
            </form>
          </div>
          <div class="col-md-4 d-flex align-items-end justify-content-end account_links_col">
            <nav class="navbar">

              <div class="btn-group">
                <a href='#' type="button" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.full_name %>
                </a>

                <div class="dropdown-menu dropdown-menu-right mt-3 py-2 pb-0">
                  <a href="<%= dashboard_path %>" class="dropdown-item pr-2 pb-3 my-2" type="button">
                    <i class="fas fa-clipboard-list mr-1"></i>
                    <%= t('views.layouts.account_links.my_lists') %>
                  </a>
                  <a href="/settings" class="dropdown-item pr-2 pb-3 my-2" type="button">
                    <i class="fa fa-user mr-1"></i>
                    <%= t('views.layouts.account_links.my_account') %>
                  </a>
                  <% if signed_in? && current_user.is_admin? %>
                    <a href="/admin" target="_blank" class="dropdown-item pr-2 pb-2 my-2" type="button">
                      <i class="fas fa-laptop-code mr-2"></i>
                      <%= t('views.layouts.account_links.admin') %>
                    </a>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <a data-method="delete" class="dropdown-item pr-2 pb-0 my-2" type="button" href="<%= sign_out_path %>">
                    <i class="fas fa-sign-out-alt mr-1"></i>
                      <%= t('views.layouts.account_links.sign_out') %>
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom tablet navbar navbar-expand navbar-dark flex-column flex-md-row scrolling-top-nav py-0">
      <nav class="navbar-nav-scroll navbar-default">
        <div class="nav navbar-nav bd-navbar-nav flex-row" role="tablist" style="flex-wrap: nowrap;">
          <ul class="p-0 d-flex">
            <li class="menu-item <%= 'active' if request.path == lessons_path %>">
              <a class="nav-link" href="/lessons"
                  data-turbolinks="false"
                  ng-click="navigateUri($event, '/lessons')"><%= t("views.nav.all_lessons") %></a>
            </li>

            <% signed_in_nav_items.each do |item| %>
            <li class="menu-item <%= 'active' if nav_item_is_current_request(item) %>">
              <a class="nav-link" href="<%= item.url %>"
                  data-turbolinks="false"
                  ng-click="navigateUri($event, '<%= item.url %>')"><%= item.name %></a>
            </li>
          <% end %>

            <li class="menu-item <%= 'active' if request.path == courses_path %>">
              <a class="nav-link" href="/courses"
                  data-turbolinks="false"
                  ng-click="navigateUri($event, '/courses')"><%= t("views.nav.courses") %></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div id='yield_wrapper'>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>