<!doctype html>
<html>
<head>
  <title><%= yield_html_title %></title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <% default_meta_description = site_setting('Meta description').present? ? site_setting('Meta description') : site_setting('Site name') %>
  <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <% unless site_image("favicon").nil? %>
    <link rel="icon" type="image/x-icon" href="<%= site_image("favicon").url(:tiny) %>" />
  <% end %>
  <%= render 'layouts/analytics-tag' %>
  <%= render 'layouts/open-graph-tags' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>

  <% if browser.device.tablet? %>
    <%= stylesheet_link_tag 'tablet/overrides', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>

<body onunload="" ng-app="Maawol_NG" data-theme="<%= site_theme %>">
  <header class="header" ng-controller="NavController" data-signed-in="1">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-3 col-xl-4">
            <% unless site_image("landscape_logo").nil? %>
              <a href="/" id="logo_top">
                <img src="<%= site_image("landscape_logo").url(:large_landscape) %>" alt="<%= site_setting("Site name") %>" class="site-logo" />
              </a>
            <% end %>
          </div>
          <div class="col-6 col-xl-4 text-center d-flex align-items-end justify-content-center">
            <form class="search-form" method="get" action="/lessons">
              <input name="search" type="text" class="search-input" size="20" maxlength="20" placeholder="Search for lessons..." required="" />
              <input type="submit" name="submit" class="search-submit" />
            </form>
          </div>
          <div class="col-3 col-xl-4 d-flex align-items-end justify-content-end account_links_col">
            <div class="account_links">
              <% if signed_in? && current_user.is_admin? && !browser.device.tablet? %>
                <span><a href="/admin" target="_blank" data-turbolinks="false"><i class="fas fa-laptop-code mr-2"></i>Admin</a></span>
              <% end %>
              <span><a href="/settings"><i class="fa fa-user mr-1"></i> My account</a></span>
              <span> <a data-method="delete" href="<%= sign_out_path %>"><i class="fa fa-lock mr-1"></i> Sign out</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/main-nav' %>
  </header>

  <div id='yield_wrapper'>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/angular_bootstrap' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>