<!doctype html>
<html>
<head>
  <title><%= html_title %></title>

  <meta charset="utf-8" />
  <% unless site_setting('Meta description').nil? %>
    <meta name="description" content="<%= site_setting('Meta description') %>" />
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <% unless site_image("favicon").nil? %>
    <link rel="icon" type="image/x-icon" href="<%= site_image("favicon").url(:tiny) %>" />
  <% end %>
  <%= render 'layouts/analytics-tag' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'mobile/overrides', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'layouts/dynamic-colors' %>
</head>

<body class="mobile" data-turbolinks='false' onunload="" ng-app="Maawol_NG">

  <header class="header fixed" ng-controller="NavController" data-signed-in="1">
    <div class="header-top container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-start align-items-center">
            <button type="button" class="navbar-toggle mr-3" data-toggle="collapse" data-target="#menu" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
              <img src="<%= site_image("landscape_logo").url(:large_landscape) %>" alt="<%= site_setting("Site name") %>" class="site-logo" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom main-menu collapse w-100 pt-2" id="menu">
      <div class="container">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav mb-3 mt-1 w-100">
            <% navbar.sorted_navbar_items_for_device_type(:mobile).each do |item| %>
              <% if item.can_be_seen_by_user(current_user) %>
                <li class="menu-item <%= 'active' if nav_item_is_current_request(item) %>">
                  <a href="<%= item.url %>" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)"><%= item.name %></a>
                </li>
              <% end %>
            <% end %>

            <li class="menu-item">
              <a href="<%= sign_out_path %>" data-method="delete" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)">Sign out</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div id='yield_wrapper' class="has-fixed-header">
    <% if notice %>
      <p class="container alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="container alert alert-danger"><%= alert %></p>
    <% end %>
  	<%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/angular_bootstrap' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>