<!doctype html>
<html>
<head>
  <title><%= yield_html_title %></title>

  <meta charset="utf-8" />

  <% default_meta_description = school_setting('meta-description').present? ? school_setting('meta-description') : school_setting('site-name') %>
  <meta name="description" content="<%= yield_meta_tag(:description, default_meta_description) %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <% unless school_image("favicon").nil? %>
    <link rel="icon" type="image/x-icon" href="<%= school_image("favicon").url(:tiny) %>" />
  <% end %>
  <%= render 'layouts/analytics-tag' %>
  <%= render 'layouts/open-graph-tags' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'mobile/overrides', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "themes/#{site_theme}", media: 'all', 'data-turbolinks-track' => true %>
</head>

<body class="mobile" data-turbolinks='false' onunload="" ng-app="Maawol_NG" data-theme="<%= site_theme %>">

  <header class="header fixed" ng-controller="NavController" data-signed-in="1">
    <div class="header-top container mobile">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-start align-items-center">
            <button type="button" class="navbar-toggle mr-3" data-toggle="collapse" data-target="#menu" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
              <img src="<%= school_image("landscape-logo").url(:large_landscape) %>" alt="<%= school_setting("site-name") %>" class="site-logo" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom main-menu collapse w-100 pt-2" id="menu">
      <nav class="navbar navbar-default container">
        <div class="nav navbar-nav mb-3 mt-1 w-100">

          <ul class="p-0 mb-0">
            <li class="menu-item <%= 'active' if request.path == "/lessons" %>">
              <a href="/lessons" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)">
                All lessons
              </a>
            </li>

            <% signed_in_nav_items.each do |item| %>
              <li class="menu-item <%= 'active' if nav_item_is_current_request(item) %>">
                <a href="<%= item.url %>" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)"><%= item.name %></a>
              </li>
            <% end %>

            <li class="menu-item <%= 'active' if request.path == "/courses" %>">
              <a href="/courses" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)">
                Courses
              </a>
            </li>
          </ul>

          <ul class="p-0 pt-2 mt-2 mb-0 mobile_account_links">
            <li class="menu-item">
              <a href="<%= dashboard_path %>" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)">
                <i class="fas fa-clipboard-list mr-1"></i>
                <%= t('views.layouts.account_links.my_lists') %>
              </a>
            </li>

            <li class="menu-item">
              <a href="<%= settings_path %>" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)">
                <i class="fas fa-user mr-1"></i>
                <%= t('views.layouts.account_links.my_account') %>
              </a>
            </li>

            <li class="menu-item">
              <a href="<%= sign_out_path %>" data-method="delete" data-turbolinks="false" class="w-100 d-inline-block py-0 px-2" ng-click="closeMenu($event)">
                <i class="fas fa-sign-out-alt mr-1"></i>
                <%= t('views.layouts.account_links.sign_out') %></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div id='yield_wrapper' class="has-fixed-header">
  	<%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>